docker/aqueducttest/.buildlog
docker/aqueducttest/.pub/
docker/aqueducttest/build/
docker/aqueducttest/packages
docker/aqueducttest/.packages
docker/aqueducttest/*.dart.js
docker/aqueducttest/*.js_
docker/aqueducttest/*.js.deps
docker/aqueducttest/*.js.map
docker/aqueducttest/workspace.xml
docker/aqueducttest/Dart_Packages.xml
docker/aqueducttest/.DS_Store
docker/aqueducttest/.idea/
docker/aqueducttest/*.aqueduct.pid